---
import '@/assets/global.css';
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preload" href="/fonts/poppins-regular.woff2" as="font" type="font/woff2" crossorigin />
    <title>404 - not found</title>
</head>
<body>
	<main style="text-align: center; display: flex; flex-flow: column; justify-content: center; height: 100vh; padding: 0;">
    <h1>404</h1>
    <br/>
    <p style="font-size: 2rem">(╯°Д°)╯︵ ┻━┻</p>
    <br/>
    <p>
      It looks like this page doesn't exist.
      <br/>
      <br/>
      Let's get you
      <a href="/">back home</a>.
      <br/>
      <br/>
      ┬─┬ノ( º _ ºノ)
    </p>
  </main>
</body>
</html>
