<section style="padding-bottom: 0.5em">
  <span style={{ fontSize: "1.5em" }}>Hi there!</span>
  <h1>Rafael here.</h1>
  <p style={{ fontSize: "1.2em", margin: "0 0 0.25em 0", fontWeight: "bold" }}>
    I'm a developer focused on web technologies.
  </p>
  <p style={{ fontSize: "0.8em", margin: "0 0 0.5em 0" }}>
    Also an avid enthusiast of music and games.
  </p>
  <p>
    Reach me out on <a target="_blank" href="https://github.com/rafaelws/">GitHub</a> 
    or <a target="_blank" href="https://www.linkedin.com/in/rafaelws">LinkedIn</a>.
  </p>
</section>